<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a> <a href="/<%= file %>/edit">Edit</a> 
      <form action="/<%= file %>/destroy" method="post" class="inline">
        <button type="submit">Delete</button>
      </form>
      </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<form action="/users/signout" method="post">
  <p class="user-status">
    Signed in as <%= session[:user] %>
    <button type="submit">Sign Out</button>
  </p>
</form>